
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Upload Excel File</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        .upload-form {
            max-width: 400px;
            margin: 0 auto;
        }

        .form-group {
            margin-bottom: 15px;
        }

            .form-group label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
            }

            .form-group input[type="file"] {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            .form-group input[type="submit"] {
                width: 100%;
                padding: 10px;
                background-color: #4CAF50;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

        .paddingHeader {
            padding-top: 40px;
            padding-right: 123px;
        }

        .exportButton {
            float: right;
            padding-right: 115px;
        }
    </style>
</head>
<body>
    <h1 class="paddingHeader">Upload Excel File</h1>
    <div class="form-group exportButton">
        <button type="submit" >
            <a href="/Excel/ExportExcel">Export Data</a>
        </button>
    </div>
    <div class="upload-form">
        <form method="post" enctype="multipart/form-data" action="/Excel/UploadExcel">
            <div class="form-group">
                <label for="file">Select Excel File:</label>
                <input type="file" name="file" id="file" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>
</body>
</html>


